body {
    font-family: 'Rubik';
    margin: 0px;
}

a {
    text-decoration: none;
}

h2>span {
    color: #0C3C26;
}

h2 {
    color: #44B78B;
}

h3 {
    color: black;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    color: #44B78B;
    background-color: #F8F8F8;
}

tr:nth-child(odd) {
    color: #0C3C26;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    background-color: #F8F8F8;
    z-index: 100;
    top: 0px;
}

.menu ul {
    padding: 0px;
    list-style: none;
}

.menu_link li {
    display: inline-block;
    padding: 0px 20px;
}

.menu_link li a {
    transition: .2s ease;
    color: #0C3C26;
    font-size: 16px;
    font-weight: bold;
}

.menu_link li a:hover {
    color: #44B78B;
}